{
  "presets": [
    "@babel/preset-typescript",
    "@babel/react",
    "@babel/flow"
  ],
  "plugins": [
    "@babel/plugin-transform-modules-umd",
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}